{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 */
#}
{% set play_icon_class = (node.field_insight_video.value) ? 'has-video' %}
<article{{ attributes.addClass('content-teaser', 'study', play_icon_class) }}>
  <a href="{{ url }}" class="link-block">
    {% if node.field_study_media.value %}
      <div class="image">
        {{ content.field_study_media }}
      </div>
    {% endif %}
    <div class="header-group">
      {% if node.field_study_education_type.value %}
        <p class="study-degree">{{ content.field_study_education_type }}</p>
      {% endif %}

      <h1{{ title_attributes.addClass('title') }}>{{ label }}</h1>

      {% if node.field_study_mode.value %}
        <p class="study-type">{{ content.field_study_mode }}</p>
      {% endif %}
    </div>
  </a>
</article>
